.App {
  padding: 12px;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.App-body {
  padding: 12px;
}

/* .App-link {
  color: #61dafb;
} */

/* .Table {
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.left-column {
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
}

.left-label-checkbox {
  .ui.checkbox label {
    padding-left: 0;
    padding-right: 4em;
  }

  .ui.checkbox input,
  .ui.checkbox label:before {
    left: auto;
    right: 0;
  }

  .ui.checkbox label:after {
    left: auto;
    right: 1.75em;
    transition: background 0.3s ease 0s, right 0.3s ease 0s;
  }

  .ui.checkbox input:checked + label:after {
    left: auto;
    right: 0.5em;
    transition: background 0.3s ease 0s, right 0.3s ease 0s;
  }
}

.space-around {
  justify-content: space-around;
}

button.encounter-number {
  margin: 0px 10px 0px 0px;
  width: 30px;
  height: 30px;
  background-color: rgb(240, 236, 223);
  border: 1px solid lightgray;
}

label.form-label {
  display: block;
  margin: 0 0 0.28571429rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: 700;
  text-transform: none;
}

/* .primary-config {
  input[type="checkbox"] {
    padding-left: "8px";
    vertical-align: "sub";
  }
} */
